.d_section {
    /* height: 600px; */
}
.d_tbdr {
    /* border:  dashed red 1px; */
}
.d_count {
    /* height: 600px; */
}
.custom_content_hgt {
    height: 200px;
}
.custom_hgt {
    height: 215px;
}
.custom_hand_hgt {
    height: 200px;
}
.hand_img {
    background: url("../img/hand.png") no-repeat center bottom/contain;
}

.d_btn1 {
width: 50px;
height: 50px;
/* box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.194); */
/* border-style: outset;
-moz-border-style: outset;
-webkit-border-style: outset; */
border-width: 10px;
border-radius: 6px;
background-color: #444343;
text-align: center;
border-color: #161212;
color: #ffffff;
font-size: 14px;
line-height: 10px;

}
.d_btn1:hover {
    /* border-style: outset; */
    background-color: #444343;
    border-color: #282121;
    color: #ffffff;
}
.d_btn1:focus:not(:focus-visible) {
    /* border-style: inset; */
    background-color: #444343;
    border-color: #282121;
    color: #ffffff;
}
.d_bg {
    background-color: #555353;
}

.d_w_custom {
    width: 80px;
}
.d_w_custom_space {
    width: 294px;
}