.d_section {
    /* height: 600px; */
}
.d_tbdr {
    /* border:  dashed red 1px; */
}
.d_count {
    /* height: 600px; */
}
.custom_content_hgt {
    height: 200px;
}
.custom_hgt {
    height: 215px;
}
.custom_hand_hgt {
    height: 200px;
}
.hand_img {
    background: url("../img/hand.png") no-repeat center bottom/contain;
}

.d_btn1 {
width: 50px;
height: 50px;
/* box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.600); */
box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.600);
border-right-style: outset #444343;
border-collapse: normal;
border-style: outset;
-moz-border-style: outset;
-webkit-border-style: outset;
border-width: 5px;
border-radius: 5px;
background-color: #444343;
text-align: center;
border-color: rgba(0, 0, 0, 0.813);
color: #ffffff;
font-size: 14px;
line-height: 10px;

}
.d_btn1:hover {
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0.813);
    
}
.d_btn1:focus-visible {
    color: #ffffff;
    background-color: #444343;
    border-width: 2px;
    border-color: rgba(117, 107, 107, 0.81);
    border-style: inset;
    box-shadow: none;
}
.d_btn1.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    color: #ffffff;
    background-color: #444343;
    border-width: 2px;
    border-color: rgba(117, 107, 107, 0.81);
    border-style: inset;
}


.d_bg {
    background-color: #555353;
}

.d_w_custom {
    width: 80px;
}
.d_w_custom_space {
    width: 294px;
}